:root {
  --eggplant: #49274a;
  --grape: #94618e;
  --sand: #f4decb;
  --shell: #f8eee7;
  --border-radius: 10px;
  --box-shadow: 2px 2px #49274a;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

/* TODO : style box-shadow */

body {
  background-color: var(--grape);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  margin: 0;
  color: var(--shell);
}

input {
  font-family: inherit;
}

/* Positioning */
.center-todo-list {
  margin: auto;
  width: 50vw;
  max-width: 450px;
  height: 80vw;
}

.center-text {
  text-align: center;
}

.center-vertically {
  display: flex;
  align-items: center;
  height: 100%;
}

.full-width {
  width: 100%;
}

/* Header */
.header-container {
  margin: 75px 0 10px 0;
}

/* Todos */
.todos-container {
  background-color: var(--grape);
  margin: 5px 0 5px 0;
}

/* Todo */
.todo-item-container-display {
  display: grid;
  grid-template-columns: 13fr 1fr 1fr;
  margin: 5px 0 5px 0;
  padding: 0 10px 0 10px;
  height: 2rem;
  border-radius: var(--border-radius);
}

.todo-item-container-style {
  background-color: var(--sand);
  color: var(--eggplant);
  box-shadow: var(--box-shadow);
}

.completed {
  text-decoration: line-through;
}

.center-icon-vertically svg {
  margin: 0 auto;
  display: block;
}

/* Form */
.new-todo-form-container {
  background-color: var(--grape);
  margin: 0 0 15px 0;
}

.new-todo-form-container form {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.new-todo-form-container input {
  padding: 0 0 0 10px;
}

.new-todo-form-container input,
button {
  background-color: var(--sand);
  border: 1px;
  width: 98%;
  height: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
